@import "tailwindcss";
@theme {
  /* Colors */
  --color-brightColor: #595E48;
  --color-backgroundColor: #595E48;
  --color-textColor: #333333;
}

/* Font utilities */
.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}


